<!doctype html>
<html>
    <head>
        <title>simple-node-example</title>
        <link href="./styles/site.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>simple-node-example</h1>
        <section>
            <h2>Info</h2>
            <ul>
                <li>git repository <code>https://git.heroku.com/simple-node-example.git</code></li>
                <li>Connect to it's REDIS by running <code>heroku redis:cli -a simple-node-example -c simple-node-example</code> in your terminal</li>
            </ul>
        </section>
        <section>
            <h2>Paths</h2>
            <ul>
                <li><a href="./nmsc">NMSC data cached with REDIS</a></li>
            </ul>
        </section>
    </body>
</html>
